
/* ------------------------- Fonts -----------------------------*/
.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.gravity-light{
  font-family: gravity-light;
}

.gravity-bold{
  font-family: gravity-bold;
}

@font-face{
  font-family: gravity-light;
  src: url(../fonts/gravity/Gravity-Light.otf);
}

@font-face{
  font-family:gravity-bold;
  src: url(../fonts/gravity/Gravity-Bold.otf);
}

@font-face{
  font-family:gravity-regular;
  src: url(../fonts/gravity/Gravity-Regular.otf);
}

.heading{
  font-family: gravity-bold;
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #28B1E1;
  -webkit-text-decoration-color:#28B1E1;
  padding-bottom: 1em;
  padding-top: 1em;
}

.socials-heading{
  font-family: gravity-bold;
  font-size: 1.4em;
  text-decoration: underline;
  text-decoration-color: #28B1E1;
  -webkit-text-decoration-color:#28B1E1;
  padding-bottom: 0.7em;
  padding-top: 0.5em;

}

.sub-heading{
  font-family: gravity-bold;

}

p{
  font-family: gravity-light;
}

/*----------------------- General styles -----------------------*/

html, body, .container-fluid {margin:0;padding:0;height:100%; }

body{overflow-x: hidden;
	position: relative;
}

/*--------------------------- Sidebar --------------------------*/

.profile{
	padding-bottom: 5px;
	height: 30%;
  width: 100%;
}

#menu-toggle{
	z-index: 1000;
	position:fixed;
  border-color: rgb(0,0,0)!important;
	margin-top: 0.7em;
	margin-left: 0.7em;
	background-color: transparent;
}

#navLinks a{
	color: black;
	display: block;
}

.active, #navLinks a:hover{
	color: #28B1E1!important;
	text-decoration: underline;
	text-decoration-color: #28B1E1;
	-webkit-text-decoration-color:#28B1E1;
}

#navLinks a:hover{
	color: black!important;
}

#name-link{
	font-size: 30px;
  color: black;
	font-style: sans-serif;
	text-decoration: none;
}

#wrapper {
  padding-left: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-id {
  z-index: 900;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  padding-top: 1em;
  margin-left: -250px;
  overflow-y: auto;
  background: white;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: black;
}

.sidebar{
	position: absolute;
	text-align: center;
	top: 0;
	width: 250px;
	margin:0;
	padding: 0;
	color: white;
	overflow-x: hidden;
  font-family: "Lucida Console", Monaco, monospace;
}

#wrapper.toggled #sidebar-id {
  width: 250px;
}

#page-content-id{
	width: 100%;
	padding-left: 15px;
  padding-right: 15px;
}

#wrapper.toggled #page-content-id{
	position: absolute;
	margin-right: -250px;
}

/*--------------------------- Social Media Icons ------------------*/

.social-icon{
	width: 40px;
	height: 40px;
  margin-left: 0.4em;
}

/*---------------------------------- Home --------------------------*/

#home-image{
	width: 100%;
  float: left;
  position: relative;
  opacity: 1;
  height: 100vh;
  display: block;
  z-index: 1;
}

.home{
	background-image: url("../img/homeimage.png");
	background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#my-title{
  font-family: gravity-bold;
  font-size: 3em;
  opacity: 1!important;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #28B1E1;
  -webkit-text-decoration-color:#28B1E1;
}

#title-brief{
  font-family: gravity-regular;
  text-align: center;
  text-shadow: 1px 1px 4px black!important;
  font-size: 15px!important;
}

.home-title{
	color:white;
	padding-top: 20%;
	text-shadow: 3px 3px 18px black;
  font-size: 30px;
	padding-left: 1em;
}

.language-icon{
  width: 50px;
  height: 50px;
}

.language-wrapper{
  text-align: center;
}

/*-------------------------------- About ---------------------------*/

.about{
	
}

#about-id{
	overflow: hidden;
	padding-top: 0.5vh;
}

/*-------------------------------- Projects ------------------------ */

.project-padding{
	padding: 0.5em;
}

/*-------------------------------- Contact -------------------------*/
.contact{
  background-color: grey;
}
.contact-wrapper{
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thick;
  background-color: grey;
  padding-bottom: 2em;
}

.contact-spacing{
  padding-top: 1em; 
  padding-bottom: 1em;
}
/*--------------------------------- Footer --------------------------*/

.footer{
  text-align: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*----------------------------- Small devices ----------------------*/

@media(max-width:768px) {
  #wrapper{
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0px;
  }
  #sidebar-id {
    width: 250px;
  }

  #wrapper.toggled #sidebar-id{
    width: 0;
  }

  #page-content-id{
  	padding-left: 15px;
  	margin-right: 0;
  	position: relative;
  }

  #wrapper.toggled  #page-content-id{
    position: relative;
    margin-right: 0;
  }
}